<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<common>
		<logging>
			<!--factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
				<arg key="level" value="ALL" />
				<arg key="showLogName" value="true" />
				<arg key="showDataTime" value="true" />
				<arg key="dateTimeFormat" value="yyyy-MM-dd HH:mm:ss:fff" />
			</factoryAdapter-->
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
				<arg key="configType" value="INLINE" />
			</factoryAdapter>
		</logging>
	</common>
	<log4net debug="true">
		<root>
			<level value="ALL" />
			<appender-ref ref="LogFileAppender" />
			<appender-ref ref="ConsoleAppender" />
		</root>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="${LocalAppData}\MusicClean\MusicClean.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="50MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<!--conversionPattern value="[%level]: %d{yyyy-MM-dd hh:mm:ss} [%thread] %logger::%location - %message%newline" /-->
				<conversionPattern value="[%level] %d{yyyy-MM-dd hh:mm:ss} %logger: %message%newline" />
			</layout>
		</appender>
	</log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>