[submodule "SourceCode/ChromaPrint"]
	path = SourceCode/ChromaPrint
	url = https://github.com/jamesjohnmcguire/chromaprint
[submodule "SourceCode/UtilitiesNet"]
	path = SourceCode/UtilitiesNet
	url = https://github.com/jamesjohnmcguire/UtilitiesNet
