[*.{cs,vb}]

# IDE0017: Simplify object initialization
dotnet_style_object_initializer = false:suggestion

# IDE0028: Collection initialization can be simplified
dotnet_style_collection_initializer	= false

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none

# SA1010: Opening square brackets should be spaced correctly
dotnet_diagnostic.SA1010.severity = none
