[*.{cs,vb}]

# IDE0017: Simplify object initialization
dotnet_style_object_initializer = false:suggestion

# IDE0028: Collection initialization can be simplified
dotnet_style_collection_initializer	= false

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none

# NUnit2001: Consider using Assert.That(expr, Is.False) instead of Assert.False(expr)
dotnet_diagnostic.NUnit2001.severity = none

# NUnit2004: Consider using Assert.That(expr, Is.True) instead of Assert.True(expr)
dotnet_diagnostic.NUnit2004.severity = none

# NUnit2005: Consider using Assert.That(actual, Is.EqualTo(expected)) instead of Assert.AreEqual(expected, actual)
dotnet_diagnostic.NUnit2005.severity = none

# NUnit2016: Consider using Assert.That(expr, Is.Null) instead of Assert.Null(expr)
dotnet_diagnostic.NUnit2016.severity = none

# NUnit2018: Consider using Assert.That(expr, Is.Not.Null) instead of Assert.NotNull(expr)
dotnet_diagnostic.NUnit2018.severity = none

# NUnit2028: Consider using Assert.That(actual, Is.GreaterThanOrEqualTo(expected)) instead of Assert.GreaterOrEqual(actual, expected)
dotnet_diagnostic.NUnit2028.severity = none
